body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #c6ed9f;
    color: white;
    padding: 1.5px;
    text-align: center;
}

header h1 {
    margin: 0px;
}

main {
    padding: 2px 1px;
    background-color: white;
    margin-top: 1px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1.5px 1px;
    background-color: #34495e;
    color: white;
    margin-top: 2px;
    border-radius: 8px;
}